body{
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tab{
    width: 400px;
    height: 700px;
    border: 1px solid black;
    position: absolute;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.tabWrap{
    width: 400px;
    height: 700px;
}

.boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.boxes div{
    width: 120px;
    height: 160px;
    margin: 20px 4px;
    border: 1px solid black;
    font-size: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.casinoBtn{
    border: none;
    background-color: rgb(169, 169, 0);
    padding: 12px 40px;
}
.d{
    display: flex;
    flex-direction: row;
}

.popBtn{
    margin: 20px;
    background-color: rgb(255, 186, 181);
    border: none;
    border-radius: 3px;
    padding: 6px 12px;
    position: relative;
    box-shadow: 0 5px 0 0 rgb(197, 110, 110);
}
.popBtn:hover{
    margin: 20px;
    background-color: rgb(223, 115, 115);
    color: white;
    padding: 6px 12px;
    box-shadow: 0 5px 0 0 rgb(154, 66, 66);
    transition: all ease 0.2s;
}
.popBtn:active{
    box-shadow: 0 0px 0 0 rgb(154, 66, 66);
    transform: translateY(5px);
}

#messageBox{
    visibility: hidden;
    height: 0;
}